<html>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:5;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg .tg-yw4l{vertical-align:top}
.mess {  }
</style>
<body>
<div class="jumbotron container-fluid">
	   

	   {% if message is not None %}
	   	<ul class="search_results_ul">{{ message }}</p>
	   {% endif %}

		<div class="col-md-11">

	    <h4>{{ object.name }}</h4>



		<br>
		<br>


		<form role="form" action="{% url 'usda:activity_apply' %}" method="POST">
			{% csrf_token %}
            <input type="hidden" name="activity" value="{{ object.id }}" />

            <input type="text" name="hours"/> <span> Hours</span>
                <button type="submit" class="btn btn-primary btn-lg">
			Save
                </button>
           </form>


		</div>
	</div>
</body>
</html>
