                <div class="col-md-1 sidebar">
                                <div class="panel-body">

                                        <a href="#" class="sidebar-button">
                                        <img src="/static/nutritrack/apple.png" alt="Food Icon"/>
                                        </a>
                                        <a href="#" class="sidebar-button">
                                        <img src="/static/nutritrack/cycle.png" alt="Activity Icon"/>
                                        </a>
                                        <a href="#" class="sidebar-button">
                                        <img src="/static/nutritrack/info.png" alt="Information Icon"/>
                                        </a>
                                </div>
                                <div class="panel-footer">
                                        <a href="#" class="sidebar-button">
                                        <img src="/static/nutritrack/gear.png" alt="Gear Icon"/>
                                        </a>
                                        <a href="#" class="sidebar-button">
                                        <img src="/static/nutritrack/logout.png" alt="Logout Icon"/>
                                        </a>
                                </div>
                </div>

